<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
    <title>Sign Up</title>
</head>
<body>
<form method="POST" th:action="@{/signup}" th:object="${userForm}">
    <h2>Sign up</h2>
    <div>
        <label for="username">Username: </label>
        <input id="username" type="text" th:field="*{username}">
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" th:field="*{password}">
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <div>
        <label for="firstname">First Name:</label>
        <input id="firstname" type="text" th:field="*{firstName}">
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>
    <div>
        <label for="lastname">Last Name:</label>
        <input id="lastname" type="text" th:field="*{lastName}">
        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>
    <div>
        <label for="phone">Phone </label>
        <input id="phone" type="tel" th:field="*{phoneNumber}">
        <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
    </div>
    <div>
        <input type="submit">
    </div>
</form>
</body>
</html>